<div>
  <li class="badge badge-secondary skills">{{employeer}}</li>
  <li class="badge badge-secondary skills">{{position}}</li>
</div>

<div>
  <li class="badge badge-secondary skills date">{{date}}</li>
</div>