.navbar {
  justify-content: flex-end;
  padding: 10px;

  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

body {
  background-image: url("https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-444.jpg?size=626&ext=jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Lora", sans-serif;
}

.navbar-brand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white !important;
  font-size: 16px;
}
.button {
  color: rgba(54, 50, 50, 0.8);
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
.glow-button:hover {
  color: rgb(26, 19, 19);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 600px;
  height: 200px;
  width: auto;
}

.row {
  padding-bottom: 40px;
}

.card-text {
  font-size: 20px;
  color: white;
}

.card-title {
  font-size: 25px;
  color: white;
}

.project-link {
  font-size: 15px;
  color: white;
}

.copyright {
  font-size: 15px;
}

.badge {
  font-size: 30px;
}

.list-group-item {
  font-size: 50px;
}

.links {
  display: flex;
  flex-direction: column;
}

.project-link {
  font-size: 18px;
  text-decoration: underline;
  color: #a26360;
  font-weight: bolder;
  text-decoration-skip-ink: none;
}

.title {
  background-color: #6e6e6e;

  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  text-align: center;
  border: none;
  color: black;
  font-family: "Lora", serif;
}

.skills {
  background-color: 545454;

  font-size: 15px;
  color: white;
}

.fab,
.fas,
.text-center {
  color: white;
}

.card {
  background-color: transparent !important;
}
.card-body {
  justify-content: center;
  padding-top: 20px;
  width: 40vw;
  background-color: transparent !important;
}

.container {
  padding: 40px;
}

li {
  background-color: red;
}
